mat-card {
    width: max-content;
    margin-bottom: 2rem;
  }
  
  mat-form-field {
    margin-right: 1rem;
  }
  
  .category-select {
    width: 400px;
  }
  
  .service-title {
    width: 500px;
  }
  
  .service-serviceType {
    width: 300px;
  }
  
  .service-price {
    width: 100px;
  }